body {  
    margin: 0 0;  
    font-family: Arial, Helvetica, sans-serif;  
font-size: 100%;  
    width: 500px;  
    margin: 0 auto;  
    padding: 1em;  
border: 2px solid blue;  
}

select {
    display: block;
    float: left;
    margin-right: 10px;
}

a.hover {
    text-decoration: none;
}

/* Main Layout */

.simpleStore {
    margin-top: 20px;
}

.brand {
    display: block;
    float: left;
    text-decoration: none;
    color: #000;
}

.brand:hover {
    color: #777;
}

.brand img {
	max-height: 50px;
}

/* simpleCart */

.simpleCart_shelfItem {
    border: 1px solid #EFEFEF;
    padding: 25px 18px 10px 18px;
    margin: 15px 0;
}

.simpleCart_items {
    display: table;
    border-collapse: collapse;
    width: 100%;
    min-height: 20px;
    margin-bottom: 50px;
}

.simpleCart_items div:first-child {
    width: 100%
}

.simpleCart_decrement, .simpleCart_increment {
    font-size: 18px;
    line-height: 5px;
    text-decoration: none;
}

.simpleCart_shelfItem label {
    display: block;
    float: left;
    line-height: 40px;
    margin-right: 10px;
}

.item_thumb, .detail_thumb {
    height: 150px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.item_Quantity {
    display: inline-block;
    width: 50px;
}

.item_price {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.item_description {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.headerRow {
    display: table-row;
    font-weight: 700;
    border-bottom: 1px solid #E1E1E1;
}

.headerRow div {
    display: table-cell;
    padding: 10px;
}

.itemRow.odd {
    background: #FAFAFA;
}

.itemRow {
    display: table-row;
    border-bottom: 1px solid #E1E1E1;
}

.itemRow:last-child {
    border-bottom: 0 solid #fff;
}

.itemRow div {
    display: table-cell;
    padding: 10px;
}

.itemRow .item-quantity {
    text-align: center;
}

}
